extends layout
block content
	.kweeni
		nav.nav
			.nav__logo
				a(href='/kweeni')
					img#logo(src='/images/logo.svg', alt='logo_KWEENI')
			.nav__user
				.nav__user__text
					p= username
					a(href='/logout') Log uit
				.nav__user__avatar
					img(src= avatar, alt='user')
		input#userId(type='hidden', value= userId)
		.hero
			h1.hero__title Iets kweeni hoe moeilijk? Stel hier je vraag.
			form.hero__form(method='post', action='/kweeni')
				input.hero__form__input(type='text', name='hero__form__input', placeholder='Stel hier je vraag')
				input#hero__form__button.btn.btn--primary(type='submit', value='Nu vragen')
		.topics
			h2 Hot topics!
			each topic in topic_list
				.topic
					.topic__likes
						img(src='/images/icon-cool.svg', alt='icon')
						span
					.topic__title
						a(href='/kweeni/'+topic.id) #{topic.title}
					.topic__author
						p.author__name #{topic.author.name}
						img.author__avatar(src= topic.author.avatar, alt='avatar')