* {
  box-sizing: border-box; }

html {
  font-size: 16px; }

body {
  font-family: 'Slabo 13px', serif;
  font-size: 1em;
  color: #494E61; }

h1, h2, h3, h4 {
  font-family: 'Ultra', serif;
  margin: 0; }

.btn {
  outline: none;
  cursor: pointer;
  background-color: #494E61;
  color: white;
  display: inline-block;
  padding: 1em 2em;
  text-decoration: none;
  border-radius: 4px;
  border-bottom: 2px solid transparent;
  transition: border 0.02s ease-in;
  font-family: Ultra;
  font-size: 1.1em;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: center; }

.btn:active {
  transform: translateY(2px); }

.btn--primary {
  background-color: #3b1cff; }

.btn--primary:hover {
  background-color: #674fff; }

.nav {
  background-color: #494E61;
  display: grid;
  grid-template-columns: repeat(2, minmax(200px, 500px));
  align-items: center;
  padding: 0.5em 1em;
  justify-content: center; }

.nav a {
  color: var(--color_red--focus); }

.nav__user {
  display: grid;
  grid-gap: 1em;
  align-items: center;
  grid-template-columns: 1fr 40px;
  color: #99A0BB;
  justify-self: end;
  text-align: right; }

.nav__user__text {
  font-size: 0.8em; }

.nav__user__text p {
  margin: 0 0 0.2em 0; }

.nav__user__avatar img {
  max-width: 100%;
  border-radius: 8px; }

/* ### HEADER ### */
.homepage header {
  background-color: #DCDCDC;
  display: grid;
  grid-template-columns: 1fr; }

.homepage nav {
  max-width: 1000px;
  display: grid;
  grid-template-columns: 3fr 2fr;
  align-items: center;
  padding: 0.8em;
  margin: 0 auto; }

.homepage .logo {
  justify-self: start; }

.homepage .logo img {
  max-width: 80%; }

/* ### INTRO ### */
.intro {
  display: grid;
  grid-template-columns: repeat(10, minmax(50px, 100px));
  grid-template-rows: repeat(5, minmax(50px, 100px));
  justify-self: center;
  padding-top: 1em; }

.user {
  background-size: cover; }

.intro h1 {
  grid-column: 1 / 6;
  grid-row: 1 / span 2;
  font-family: "Slabo 13px", serif;
  font-weight: normal;
  font-size: 2em;
  line-height: 1.3em; }

.user1 {
  background-image: url(https://image.ibb.co/iYA3kx/user1.png);
  grid-column: 6 / span 1;
  grid-row: 2 / span 1; }

.user2 {
  background-image: url(https://image.ibb.co/gMDOkx/user2.png);
  grid-column: 9 / span 1;
  grid-row: 2 / span 1; }

.user3 {
  background-image: url(https://image.ibb.co/bUYOkx/user3.png);
  grid-column: 1 / span 1;
  grid-row: 3 / span 1; }

.user4 {
  background-image: url(https://image.ibb.co/e5iZsc/user4.png);
  grid-column: 3 / span 1;
  grid-row: 3 / span 1; }

.user5 {
  background-image: url(https://image.ibb.co/eNTOkx/user5.png);
  grid-column: 4 / span 2;
  grid-row: 3 / span 2; }

.user6 {
  background-image: url(https://image.ibb.co/daDCdH/user6.png);
  grid-column: 7 / span 1;
  grid-row: 3 / span 1; }

.user7 {
  background-image: url(https://image.ibb.co/bKqsdH/user7.png);
  grid-column: 9 / span 1;
  grid-row: 3 / span 1; }

.user8 {
  background-image: url(https://image.ibb.co/fB53kx/user8.png);
  grid-column: 10 / span 1;
  grid-row: 3 / span 1; }

.user9 {
  background-image: url(https://image.ibb.co/czxG5x/user9.png);
  grid-column: 2 / span 1;
  grid-row: 4 / span 1; }

.user10 {
  background-image: url(https://image.ibb.co/d9AEsc/user10.png);
  grid-column: 7 / span 2;
  grid-row: 4 / span 2; }

.user11 {
  background-image: url(https://image.ibb.co/eCfEsc/user11.png);
  grid-column: 9 / span 1;
  grid-row: 4 / span 1; }

.user12 {
  background-image: url(https://image.ibb.co/dfwb5x/user12.png);
  grid-column: 3 / span 1;
  grid-row: 5 / span 1; }

/* ### FEATURES ### */
.homepage main {
  display: grid;
  justify-items: center; }

.features {
  display: grid;
  grid-gap: 20px;
  justify-content: center;
  grid-template-rows: repeat(3, 1fr);
  max-width: 1000px;
  margin-top: 2em; }

.feature {
  padding: 0 1em;
  display: grid; }

.feature__header img {
  width: 70px; }

.feature__header {
  display: grid;
  grid-gap: 1em;
  justify-items: center;
  text-transform: uppercase; }

.feature__text {
  justify-items: center;
  text-align: center; }

.feature1 {
  grid-row: 2 / span 3;
  grid-column: 1 / span 1; }

.feature2 {
  grid-row: 1 / span 3;
  grid-column: 2 / span 1; }

.feature3 {
  grid-row: 4 / span 3;
  grid-column: 2 / span 1;
  margin-top: 1em;
  margin-bottom: 1em; }

@media only screen and (max-width: 43em) {
  body {
    font-size: 0.8em; }
  .features {
    grid-template-columns: 1fr; }
  .feature {
    display: grid;
    grid-template-rows: 2fr 1fr;
    grid-row: auto;
    grid-column: auto; }
  .feature h2 {
    grid-template-columns: 1fr;
    justify-items: center; }
  .intro {
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    grid-template-rows: auto minmax(50px, 100px);
    grid-auto-rows: 100px; }
  .user {
    grid-row: auto;
    grid-column: auto; }
  .intro h1 {
    grid-column: 1 / -1;
    grid-row: auto; } }

@media only screen and (max-width: 64em) {
  .intro h1 {
    padding: 0.8em;
    font-size: 1.8em; } }
