section#app.questionDetails(data-questionid='')
	header
		h1.questionDetails__title ""
	.footerWrapper
		footer
			.questionDetails__votes
				h5
					img(src='/images/icon-cool.svg')
					span x1
				a.questionDetails__like(href='#') like deze vraag
			.questionDetails__voters
				img(src='', alt='')
			.questionDetails__meta
				.questionDetails__metaText
					p.questionDetails__timeAgo
						em één maand geleden
						span  gevraagd door
					p.questionDetails__author
				.questionDetails__metaAvatar
					img(src='')
section.questionAnswers
	#answer_1.answer
		p.answer__text
		footer.answer__footer
			img.answer__avatar(src='')
			span
	.comment
		p.comment__text
		footer.comment__footer
			img.comment__avatar(src='')
			span
	#form__comment1.form__comment
		input.input__comment(placeholder='Plaats commentaar', type='text', data-answernumber='1')
.form__answer
	.form__answer__avatar
		img(src='')
	.form__answer__input
		input.input__answer(placeholder='Reageer op deze vraag', type='text')
	.form__answer__button
		a#btnAnswer.btn.btn--primary Reageren